# The lib directory contains the various modules which define your application.
# Any module (and thus any component or strategy) defined in this directory is compiled by mix and
# included when you assemble a release.
# In this file, we provide an example workflow to help you get started with Skitter.
# Happy hacking!

defmodule <%= @module_name %> do
  use Skitter.DSL

  def workflow do
    workflow do
    end
  end
end

