<%#
Copyright 2018 - 2022, Mathijs Saey, Vrije Universiteit Brussel

This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

This file configures the erlang vm which is spawned to send commands to a remote runtime. We
do not tune this VM, as it does not affect the performance of the actual Skitter application.
%>
